@CHARSET "UTF-8";

.formularioTituloEncabezado {
	background-color: #0099cc;
	color: white;
	font-size: 18px;
	padding: 2px 6px;
	margin-bottom: 0px;
}

.formularioCampoTexto {
	padding: 2px 6px;
	color: #333;
	border-color: #666666;
	background-color: #f6f6f6;
	border-radius: 2px;
	-webkit-box-shadow: 0 4px 6px -6px black;
	-moz-box-shadow: 0 4px 6px -6px black;
	box-shadow: 0 4px 6px -6px black;
}

.formularioCampoTexto:focus {
	color: #333;
	background-color: #f6f6f6;
	border-color: #666666;
	padding: 6px;
}

.formularioCampoTexto:focus::-webkit-input-placeholder {
	color: rgba(102, 102, 102, 0.30);
	opacity: 1;
}

.formularioCampoTexto:focus::-moz-placeholder {
	color: rgba(102, 102, 102, 0.30);
	opacity: 1;
}

.formularioCampoTexto:focus:-ms-input-placeholder {
	color: rgba(102, 102, 102, 0.30);
	opacity: 1;
}

.formularioCampoTexto:focus:-moz-placeholder {
	color: rgba(102, 102, 102, 0.30);
	opacity: 1;
}

.formularioCampoTexto::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(102, 102, 102, 0.45);
	opacity: 1;
}

.formularioCampoTexto::-moz-placeholder { /* Firefox 19+ */
	color: rgba(102, 102, 102, 0.45);
	opacity: 1;
}

.formularioCampoTexto:-ms-input-placeholder { /* IE 10+ */
	color: rgba(102, 102, 102, 0.45);
	opacity: 1;
}

.formularioCampoTexto:-moz-placeholder { /* Firefox 18- */
	color: rgba(102, 102, 102, 0.45);
	opacity: 1;
}

.formularioRadioCentrado {
	background-color: #f6f6f6;
	margin-bottom: -16px;
	padding: 4px 0 0 0;
	text-align: center;
}


.formularioEtiquetaTexto {
	color: #00000;
	font-size: 16px;
	padding: 2px 6px;
	margin-bottom: 0px;
}

.formularioConfirmacionCentrado {
	background-color: #e6e6e6;
	border-radius: 6px;
	margin: 16px 16px 16px 16px;
	padding: 8px 8px 8px 8px;
	text-align: center;
}